<!-- <h1>Messages#index</h1>
<p>Find me in app/views/messages/index.html.erb</p> -->

<div class="panel panel-default">
  <div class="panel-heading">
    Messages
  </div>
  
  <div class="panel-body">
    <% @messages.each do |message| %>
      <span class="label label-info"><%= message.name %></span>
      <%= message.body %>
      <br>
    <% end %>
  </div>
</div>

<% #Import partial template %>
<%= render 'form' %>